:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --main-font-family: 'Playfair Display', serif;
    --secondary-font-family: 'Poppins', sans-serif;
}

body {
    margin: 100px auto;
    /* max-width: 800px; */
    font-family: var(--main-font-family);
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;

}

h1 {

    font-size: 86px;
    font-weight: bold;
    line-height: 1;
}

h2 {
    font-size: 48px;
    font-family: var(--main-font-family);
    font-weight: medium;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
    font-family: var(--secondary-font-family);
}

p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    font-family: var(--secondary-font-family);
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
}

.primary-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--secondary-font-family);
}

.secondary-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 4px;
    font-family: var(--secondary-font-family);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    /* display: flex; */
    margin: 30px 0;
    padding: 120px 60px;
}

.about-paragraphs p {
    margin: 10px;

}

.work-paragraphs {
    padding: 120px 30px 30px;
}

.contact-paragraphs {
    padding: 120px 60px 60px;
}


.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

a:hover {
    color: rgb(42, 14, 73);
}

.project-description {
    padding: 120px 60px;
}

#contact {
    margin-top: 50px;
}

footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .email-link {
    font-size: 24px;
    color: black;
    font-family: var(--secondary-font-family);
}

footer .email-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
    text-decoration: none;

}

footer h4 {
    font-size: 48px;
}







@media(max-width:992px) {
    h1 {
        font-size: 40px;
        text-align: center;
    }

    .app-text-start,
    .app-text-end {

        text-align: center !important;
    }

    h2 {
        font-size: 30px;
    }

    p {
        text-align: center;
    }

    .app-link {
        display: block;
        text-align: center;
        margin: 0 20px 50px;
    }



    .d-flex.app-btn,
    .d-inline-block.app-link {
        display: block !important;
    }


    .about-paragraphs p {
        margin: 0;
    }

    .email-link {
        font-size: 18px;
    }

    #contact {
        margin-top: 40px;
    }

    .project-description {
        padding: 10px;
    }

    .about-paragraphs {
        padding: 48px 60px;
        margin: 0;
    }

    .work-paragraphs {
        padding: 48px 60px;
        margin: 0;
    }
}

.app-text-start {
    text-align: start;
    line-height: 2;
}

.app-text-end {
    text-align: end;
    line-height: 2;
}

.hero {
    margin: 160px 20px;
}